{% trans_default_domain 'FOSUserBundle' %}

<div class="login__section login__sign-in">
  <img
    src="{{ asset('assets/images/logo.png') }}"
    alt="Logo"
    title="Logo"
    class="login__logo"
  />

  <!-- x   -->
  {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}

    <div class="login__input-container">
        {{ form_rest(form) }}
        <input type="submit" class="form__input form__input--btn" value="{{ 'change_password.submit'|trans }}" />
    </div>

  {{ form_end(form) }}
</div>
