<nav class="navigation">
  <a href="{{ url('post_index') }}">
    <img
    src="{{ asset('assets/images/navLogo.png') }}"
    alt="logo"
    title="logo"
    class="navigation__logo"
    />
  </a>
  <div class="navigation__search-container">
    <i class="fa fa-search"></i>
    <input type="text" placeholder="Search">
  </div>
  <div class="navigation__icons">
    <a href="{{ url('user_index') }}" class="navigation__link">
      <i class="fa fa-compass"></i>
    </a>
    <a href="{{ url('post_new') }}" class="navigation__link">
      <i class="fas fa-camera-retro"></i>
    </a>
    <a href="{{ url('fos_user_profile_show') }}" class="navigation__link">
      <i class="fas fa-user-circle"></i>
    </a>
    <a href="{{ url('fos_user_security_logout') }}" class="navigation__link">
      <i class="fas fa-sign-out-alt"></i>
    </a>
  </div>
</nav>

